canvas {
  width: 100% !important;
  height: 100% !important;
  text-align: center;
}
sup { vertical-align: top; position: relative; top: -0.5em; }

p{
  font-family: arial,cursive;
}

footer{
  padding: 5px 10px 0px;
  background : lightgrey;
  font-family: Helvetica, Arial;
  font-size: 9pt;
  color: grey;
  text-align: center;
}
